body {
    background-color:  rgb(132, 201, 223);
    color: rgb(190, 7, 7);
    font-family: 'MedievalSharp', cursive;
}

#container {
    margin: 0 auto;
    text-align: center;
}

img {
    border-radius: 15px;
    padding: 5px;
    background-color: rgb(188, 241, 188);
    border: 5px solid rgb(20, 109, 161);
}

h1 {
    font-size: 4em;
}

h2 {
    margin-bottom: 2px;
    font-size: 2em;
}

textarea {
    border: 5px dotted rgb(190, 7, 7);
    border-radius: 15px;
    padding: 10px;
    margin: 15px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5em;
}

.btn, .clear-btn {
    border: 2px solid rgb(190, 7, 7);
    padding: 15px 10px 10px 10px;
    border-radius: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}

